.cover-img {
    filter: brightness(50%);
}
.position {display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10%;
}


/* ---------------
------Media Queries------
-----------------*/


/*---------------
    Mobile devices
-----------------*/
@media only screen and (max-width:688px) {
    .cover-text {
        width: 250px;
        height: 150px;
        font-size: 10px;
    }
    .cover-img{height: 262px;
        width: 335px;

    }
}
